# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
**/.pnp
**.pnp.js

# testing
**/coverage

# production
**/build

# misc
**.DS_Store
**.env.local
**.env.development.local
**.env.test.local
**.env.production.local

**npm-debug.log*
**yarn-debug.log*
**yarn-error.log*

# api keys and env variables
# WARNING: Do not store any secrets (such as private API keys) in your React app!
# Environment variables are embedded into the build, meaning anyone can view them by inspecting your app's files.
# https://create-react-app.dev/docs/adding-custom-environment-variables/
**.env
